.app.light {
  color-scheme: light;
  /* Autres styles pour le mode clair */
}

.app.dark {
  color-scheme: dark;
  /* Autres styles pour le mode sombre */
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
